* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  text-align: center;
  margin-top: 2px;
}

input {
  font-size: 22.429px;
  padding: 6px;
  margin-top: 8%;
  text-align: right;
  background-color: white;
  align-items: center;
  border-top: none;
}
button {
  font-size: 15px;
  width: 60px;
  height: 30px;
  background-color: rgb(235, 236, 236);
  border: 1px solid rgb(223, 153, 61);
  border-radius: 3px;
}
.spec {
  width: 130px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
}
.n {
  background-color: white;
  border: 1px solid rgb(35, 155, 155);
  border-radius: 2px;
}
#equals {
  background-color: rgb(196, 244, 250);
}
table {
  margin: auto;
  box-shadow: 1px 0 0 1px rgb(247, 245, 245);
  border-collapse: collapse;
  border: 2.2px solid grey !important;
}

td {
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
}
.c1 td {
  background-color: white;
  border: 1px solid #f0f0f5;
}
td:hover {
  background-color: rgb(248, 212, 171);
}
td:active {
  opacity: 0.1;
}

.trigger {
  display: none;
  position: absolute;
  background-color: white;
  z-index: +1;
  box-shadow: 0px 8px 16px 0px rgba(221, 218, 218, 0.2);
  width: 100%;
}
.trigger div:hover {
  background-color: rgb(231, 232, 235);
}

.dropdown:hover .trigger {
  display: block;
}
